/* Import modules*/
/****** Chargement des classes des modules ***********/

@import url("modules/header.css") screen;

@import url("modules/search.css") screen;

@import url("modules/footer.css") screen;

@import url("modules/filters.css") screen;

@import url("modules/activities.css") screen;

@import url("modules/hebergements.css") screen;

@import url("modules/populaires.css") screen;

@import url("animations.css") screen;

/****** General ***********/

:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
	--body-font: "Raleway", sans-serif;
}

* {
	font-family: var(--body-font);
}

.fa-solid {
	color: var(--main-color);
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
}

.main-container {
	width: 100%;
	max-width: 1440px;
	padding: 0 50px;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.section-title {
	margin: 0;
	font-size: 22px;
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
}

.card img {
	object-fit: cover;
}

.card-title {
	font-size: 16px;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
	display: flex;
	justify-content: space-between;
}

.hebergements-and-populaires section {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}


/* Centre */

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements-and-populaires {
		flex-direction: column;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
   
	.main-container {
		padding: 0 0px;
	}
	main {
		padding: 0px;
	}

    .hebergements-and-populaires section {
        border-radius:0px;
        padding: 30px 20px;

    }
}
