/* Header */

header {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.logo-link {
	display: flex;
}

#logo {
	width: 61.09px;
	height: 19px;
	padding-top: 30px;
}

/* Navigation */
nav {
	width: 100%;
}
.nav-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 68px;
	justify-content: flex-end;
	margin: 0px;
	padding: 0;
}

.nav-item {
	padding-top: 16px;
	font-size: 16px;
	border-top: 2px solid transparent;
	display: block;
	height: 19px;
}

.nav-item:hover {
	border-top: 2px solid var(--main-color);
}

.nav-item-active {
	border-top: 2px solid var(--main-color);
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	header {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		margin: 0;
	}
	.logo-link {
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.nav-list {
		display: flex;
		flex-direction: row;
		list-style: none;
		gap: 0px;
		justify-content: center;
		align-items: center;
		margin: 0;
		width: 100%;
	}
	.nav-item-link {
		width: 100%;
	}
	.nav-item {
		padding-bottom: 15px;
		font-size: 16px;
		border-top: 2px solid transparent;
		border-bottom: 2px solid var(--main-bg-color);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 19px;

		flex: 1;
	}

	.nav-item:hover {
		border-top: 2px solid transparent;
		border-bottom: 2px solid var(--main-color);
	}

	.nav-item-active {
		border-bottom: 2px solid var(--main-color);
	}
}
